 /* #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  color: aqua;
  color: black;
  color: blueviolet;
  color: cadetblue;
  color: ;  
}  */
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(https://t4.ftcdn.net/jpg/02/76/95/99/360_F_276959928_MzW1FMER5GDM51fsFgmzjcWHzTeP5UYI.jpg)  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.high-score{
  color: aliceblue;
  display: flex;
  flex-direction: row;
  margin: auto;
}
h3{
  margin: 0em;
  padding: 10px;
  color: rgb(222, 227, 255);
  font-size: 30px;
}
img{
  width: 100%;
  height: 100%;
}
#game-easy{
  /* border: 2px solid lavenderblush; */
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap:10px ;
  /* flex-wrap: wrap; */
  margin: auto;
  perspective: 1000px;
}
#easy{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.reset{
  align-self: center;
  padding:10px 30px;
}


#game-medium{
  /* border: 2px solid lavenderblush; */
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 10px;
  column-gap:10px ;
  /* flex-wrap: wrap; */
  margin: auto;
  perspective: 1000px;
}
#medium{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}



#game-hard{
  /* border: 2px solid lavenderblush; */
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  row-gap: 10px;
  column-gap:10px ;
  /* flex-wrap: wrap; */
  margin: auto;
  perspective: 1000px;
}
#hard{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}



.face-up ,.face-down{
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  
}
.memory-card{
  border: 2px lightblue;
  /* width:25%;
  height: 33%; */
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d  ;
  transition:0.5s;
}

.memory-card :active{
  transform: scale(.96);
  transition: 0.2s;
}
.memory-card.flip{
  transform: rotateY(180deg);
}
.face-up{
  transform: rotateY(180deg);
}
















.popup {
  display: none;

}


#popup:after {
  z-index: -2;
}

#popup:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -3;
}



















h1{
  position:absolute;
  font-style: italic;
  color: azure;
}
#score.memory-card {
  display: flex; 
  flex-direction: column;
  justify-content: center;

}

#button{
  font-size: 20px;
  padding: 10px 30px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}
#button:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 35, 49);
}














/* 

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
} */